<h1>Voters</h1>

<table class="table">
  <thead>
    <tr>
      <th>Profile pic</th>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userlists.each do |user| %>
      <tr>
        <td><%= image_tag user.image, width: "100px" if user.image.attached? %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
