<h1>Schedule</h1>

<table class="table">
  <thead>
    <tr>
      <th>Electione will start at:</th>
      <th>Electione will end at:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.election_start_time %></td>
        <td><%= schedule.election_end_time %></td>
          <% if current_user.admin? %>
            <% if @schedules.all.exists? %>
              <%= link_to 'Edit this schedule ? ', edit_schedule_path(schedule), class:"btn btn-primary btn-lg" %>
            <% end %>
          <%end%>
      </tr>
    <% end %>
  </tbody>

</table>
