<%= form_with(model: request, local: true) do |form| %>
  <div class="field form-group">
    <%= form.text_field :party_name, placeholder: "Party name", required: true, class:"form-control"%>
  </div>
  <div class="field form-group">
    <h4>Party symbol</h4>
    <%= form.file_field :avatar, required: true %>
  </div>
  <div class="actions">
    <%= form.submit%>
  </div>
<% end %>
